.footer {
    background-color: black;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 25px;
}

.footer a {
    color: white;
    text-decoration: none;
}

.footerlogo img {
    filter: invert(1);
}

.socialicons {
    margin-top: 25px;
    filter: brightness(0) invert(1);
    justify-content: center;
    align-items: center;
    margin-right: 6%;
    width: 100%;
}

.socialicons img {
    margin-left: 10px;
    margin-right: 10px;
}

.footerlinks ul {
    list-style: none;
    margin-top: 25px;
    margin-bottom: 25px;
}

.footerlinks li {
    margin-top: 10px;
}  

.footerlink h3 {
    margin-right: 40%;
}

.footerinvite {
    float: left;
    width: 90vw;
}

.arrowimageinvert img {
    float: right;
    padding-left: 20px;
    padding-top: 3px;
    margin-right: 20%;
}

.copyright {
    color: lightgray;
}

@media screen and (min-width: 768px) {
    .footerinvite {
        width: 100%;
    }

    .footerlinks ul {
        display: flex;
        flex-direction: column;
    }

    .footerinvite {
        display: block;
        width: 80vw;
    }
}


@media screen and (min-width: 1024px) {

    .footerlogo {
        float: left;
    };

    .socialicons {
        width: 80vw;
    }

    .arrowimageinvert img {
        float: right;
        padding-left: 20px;
        padding-top: 3px;
        margin-right: 20%;
    }
    
    .footerlinks ul {
        display: flex;
        flex-direction: column;
    }

    .footerinvite {
        float: right;
        width: 20vw;
    }

    .copyright {
        float: right;
    }

}
