@import url('https://fonts.googleapis.com/css?family=DM+Sans:700');
@import url('https://fonts.googleapis.com/css?family=DM+Sans:400');

body {
    font-family: 'DM Sans' sans-serif;
}

.herotext {
    padding: 10%;
}

h1 {
    font-size: 40px;
    line-height: 48px;
    font-weight: bold;
    
}

h2 {
    font-size: 24px;
    line-height: 25px;
    font-weight: bold;
}

h3 {
    font-size: 18px;
    line-height: 25px;
}

h4 {
    font-size: 12px;
    line-height: 16px;
}

p {
    font-size: 15px;
    line-height: 25px;
}

.arrowimage {
    float: right;
}
.arrowimageinvert {
    filter: invert(100%);
    float: right ;
}

.heroimage img {
    width: 100vw;
}

.blurb img {
    align-items: center;
    margin: auto;
}

.container, .footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10%;
}


.containerheader {
    margin-top: 25px;
    font-weight: bold;
}
.containerbodytext {
    text-align: center;
    margin-top: 20px;
}

.footer {
    background-color: black;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.footerlogo img {
    filter: invert(1);
}

.socialicons {
    margin-top: 25px;
    filter: brightness(0) invert(1);
    margin-left: 10%;
    justify-content: center;
    align-items: center;
    margin-right: 6%;
}

.socialicons img {
    margin-left: 10px;
    margin-right: 10px;
}

.footerlinks ul {
    list-style: none;
    margin-top: 50px;
    margin-bottom: 100px;
}

.footerlinks li {
    margin-top: 10px;
}  

.footerlink h3 {
    margin-right: 40%;
}

.footerinvite {
    float: left;
}

.arrowimageinvert img {
    float: right;
    padding-left: 30px;
    padding-top: 3px;
}

.copyright {
    margin-top: 25px;
    color: lightgray;
}