@import url('https://fonts.googleapis.com/css?family=DM+Sans:700');
@import url('https://fonts.googleapis.com/css?family=DM+Sans:400');

body {
    font-family: 'DM Sans' sans-serif;
}

.herotext {
    padding: 10%;
}

h1 {
    font-size: 40px;
    line-height: 48px;
    font-weight: bold;

}

h2 {
    font-size: 24px;
    line-height: 25px;
    font-weight: bold;
}

h3 {
    font-size: 18px;
    line-height: 25px;
}

h4 {
    font-size: 12px;
    line-height: 16px;
}

p {
    font-size: 15px;
    line-height: 25px;
}

.arrowimage {
    float: right;
}

.arrowimageinvert {
    filter: invert(100%);
    float: right;
}

.blurb img {
    align-items: center;
    margin: auto;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10%;
}


.containerheader {
    margin-top: 25px;
    font-weight: bold;
}

.containerbodytext {
    text-align: center;
    margin-top: 20px;
}

@media screen and (max-width: 767px) {
    .createandshare,
    .beautifulstories,
    .designedforeveryone {
        width: 100%;
        padding: 10%;
    }

    .heroimage img {
        width: 100%;
        height: 294px;
    }

    .desk img,
    .manwithcamera img {
        width: 100%;
        height: 271px;
    }

    .heroimage,
    .desk,
    .manwithcamera {
        background-repeat: no-repeat;
    }


    .heroimage {
        background-image: url(../assets/home/mobile/create-and-share.jpg);
    }

    .desk {
        background-image: url(../assets/home/mobile/beautiful-stories.jpg);
    }

    .manwithcamera {
        background-image: url(../assets/home/mobile/designed-for-everyone.jpg);
    }
}


@media screen and (min-width: 768px) {


    .heroimage {
        background-image: url(../assets/home/tablet/create-and-share.jpg);
    }


    .desk {
        background-image: url(../assets/home/tablet/beautiful-stories.jpg);
        background-repeat: no-repeat;
    }

    .manwithcamera {
        background-image: url(../assets/home/tablet/designed-for-everyone.jpg);
    }

    .herocontainer {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        gap: 0;
    }

    .createandshare,
    .designedforeveryone {
        width: 60vw;
        padding: 20%;
        padding-top: 15%;
    }

    .beautifulstories {
        background-repeat: no-repeat;
        padding-top: 0;
        position: absolute;
        top: 80%;
        right: 7%;
    }


    .createandshare {
        grid-row: 1;
    }

    .heroimage img,
    .desk img,
    .manwithcamera img {
        width: 40vw;
        padding-bottom: 0;
    }

    .desk {
        grid-row: 2;
        width: 40vw;
    }

    .beautifulstories {
        grid-row: 2;
        width: 50vw;
        margin-left: 0;    
    }

    .designedforeveryone {
        grid-row: 3;
    }

    .manwithcamera {
        grid-row: 3;
        grid-column: 2;
    }

    #root {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .image-wrapper {
        max-width: 50%;
    }

}

@media  screen and (min-width: 1024px) {
    
    .heroimage {
        background-image: url(../assets/home/desktop/create-and-share.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 65vw;
    }

    .headerinvite {
        margin-top: 10%;
    }

    .desk {
        background-image: url(../assets/home/desktop/beautiful-stories.jpg);
        background-size: contain;
        background-repeat: no-repeat;
    }

    .manwithcamera {
        background-image: url(../assets/home/desktop/designed-for-everyone.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .createandshare,
    .designedforeveryone {
        width: 40vw;
        padding: 20%;
        padding-top: 15%;
    }

    .beautifulstories {
        padding-top: 0;
        position: absolute;
        top: 85%;
        right: 15%;
        width: 30vw;
        margin-left: 0;    
    }


    .createandshare {
        grid-row: 1;
    }

    .heroimage img,
    .manwithcamera img {
        width: 25%;
        padding-bottom: 0;
    }

    .desk {
        grid-row: 2;
        width: 130%;
    }

    .designedforeveryone {
        grid-row: 3;
    }

    .manwithcamera {
        grid-row: 3;
    }

    #root {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .infosection {
        display: flex;
        flex-direction: row;
    }

    .container {
        width: 33%;
    }

    .image-wrapper {
        max-width: 25%;
    }

    
}