@import url('https://fonts.googleapis.com/css?family=DM+Sans:700');
@import url('https://fonts.googleapis.com/css?family=DM+Sans:400');

.header-logo {
    margin-left: 30px;
    float: left;
    width: 80%;
    padding-bottom: 20px;
}

.nav-list {
    display: none;
}

.dark-button-wrap {
    display: none;
}


.full-screen-overlay {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    animation: 400ms linear 0ms 1 normal both running;
}

.full-screen-overlay.active {
    height: 40vh;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    animation: 400ms linear 0ms 1 normal both running;
    background-color: white;
}

.mobile-nav {
    left: 0px;
    right: 0;
    width: 100%;
    position: fixed;
    padding-bottom: 2rem;
    text-align: center;
    background-color: var(--white);
    transition: all .5s;
}

.mobile-nav-menu {
    margin: 0 auto;
    height: auto;
    width: 82.667%;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, .25);
    font-family: 'DM Sans';
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 2px;
    margin: auto;
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all .5s;
}

.mobile-nav-menu-item {
    margin: 11px auto;
}

.a-mobile-nav-link {
    color: black;
    text-decoration: none;
}

.dark-button-wrap-mobile {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 15px;
}

.dark-button-wrap-mobile .dark-button {
    width: 82.667%;
}

.burger {
    display: block;
    width: 28px;
    height: 24px;
    cursor: pointer;
    position: relative;
    margin-right: 30px !important;
    margin: auto;
    margin-top: 25px;
}

.burger span {
    width: 100%;
    height: 2px;
    background-color: black;
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
}

.burger span::before,
.burger span::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: black;
    transition: transform 0.3s ease-in-out;
}

.burger span::before {
    transform: translateY(4px)
}

.burger span::after {
    transform: translateY(-4px)
}

.burger.active_close span::before {
    transform: translateY(0px) rotateZ(135deg);
}

.burger.active_close span::after {
    transform: translateY(0px) rotateZ(225deg);
}

@media screen and (min-width: 768px) {
    #header {
        width: 100%;
        height: 72px;
        position: relative;
        left: 0px;
        background: var(--white);
        top: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .nav-bar {
        height: 72px;
        position: absolute;
        display: flex;
        flex-direction: row;
        align-items: center;
        font-family: 'DM Sans';
    }
    
    ul {
        list-style: none;
    }
    
    .header-logo {
        width: auto;
        height: auto;
        display: flex;
        align-items: center;
        margin: auto;
        text-align: left;
    }
    
    .header-logo-img {
        width: 170px;
        height: 16px;
    }
    
    .nav-list {
        display: flex;
        text-align: center;
        width: 269px;
        align-items: center;
        font-family: 'DM Sans';
        font-size: 13px;
        font-style: normal;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: 2px;
        margin: auto;
    }
    
    .nav-list-item {
        width: auto;
        margin: auto;
    }
    
    .nav-link {
        margin: auto;
        cursor: pointer;
        color: black;
        text-decoration: none;
        transition: 0.1s ease;
    }
    
    .nav-link:hover {
        opacity: 30%;
        transition: 0.4s ease;
    }
    
    .dark-button-wrap {
        width: auto;
        display: flex;
        align-items: center;
        margin: auto;
        display: flex;
    }
    
    
    .dark-button {
        width: 158px;
        height: 40px;
        color: var(--white);
        background-color: var(--black);
        font-family: 'DM Sans' !important;
        border: none;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: 2px;
        text-align: center;
        transition: 0.3s ease;
    }
    
    .dark-button:hover {
        background-color: var(--grey);
        color: var(--black);
        cursor: pointer;
    }
    
    .burger {
        display: none;
    }

    .full-screen-overlay {
        display: none;
    }
   
    
};

