@import url('https://fonts.googleapis.com/css?family=DM+Sans:700');
@import url('https://fonts.googleapis.com/css?family=DM+Sans:400');

body {
    font-family: 'DM Sans' sans-serif;
}

.herotext {
    padding: 10%;
}

h1 {
    font-size: 40px;
    line-height: 48px;
    font-weight: bold;
    
}

h2 {
    font-size: 24px;
    line-height: 25px;
    font-weight: bold;
}

h3 {
    font-size: 18px;
    line-height: 25px;
}

h4 {
    font-size: 12px;
    line-height: 16px;
}

p {
    font-size: 15px;
    line-height: 25px;
}


.herotext {
    background-image: url(../assets/stories/mobile/moon-of-appalacia.jpg);
    width: 100vw;
    height: 317px;
}

.heroimage {
    background-color: black;
    color: white;
    max-width: 100vw;
    float: left;
}

.arrowimage img {
    filter: invert(1);
    float: right;
    margin-top: -8%;
}

.image-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: auto;
    color: white;
}

.image-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 60%;
    margin-left: 8%;
}

.image-title {
    font-weight: bold;
    margin-bottom: 8px;
}

.image-artist {
    margin-bottom: 0;
    color: white;
}

.image-body {
    display: flex;
    align-items: flex-start;
    width: 100%;
}

.image-story {
    flex: 1;
    margin-right: 24px;
    margin-left: 5%;
    font-weight: bold;
}

.image-arrow {
    width: 24px;
    height: 24px;
    margin-right: 8%;
    filter: invert(1);
}


hr {
    border-color: white;
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
}

.arrowimageinvert {
    float: right;
}

.arrowimageinvert img {
    filter: invert(1);
}


@media screen and (min-width: 768px) {


    .herotext {
        display: none;
    }
    
    .heroimage {
        background-image: url(../assets/stories/tablet/moon-of-appalacia.jpg);
        align-content: right;
        height: 650px;
        width: 100vw;
        
    }

        .introtext {
        width: 50vw;
        padding-top: 20%;
        padding-left: 5%;
    }

    #images-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 650px;
    }

    .image-wrapper {
        max-width: 50%;
    }

}

.footer {
    background-color: black;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 25px;
}

.footerlogo img {
    filter: invert(1);
}

.socialicons {
    margin-top: 25px;
    filter: brightness(0) invert(1);
    margin-left: 10%;
    justify-content: center;
    align-items: center;
    margin-right: 6%;
}

.socialicons img {
    margin-left: 10px;
    margin-right: 10px;
}

.footerlinks ul {
    list-style: none;
    margin-top: 50px;
    margin-bottom: 100px;
}

.footerlinks li {
    margin-top: 10px;
}  

.footerlink h3 {
    margin-right: 40%;
}

.footerinvite {
    float: left;
    width: 80vw;
}

.arrowimageinvert img {
    float: right;
    padding-left: 20px;
    padding-top: 3px;
    margin-right: 20%;
}

.copyright {
    margin-top: 25px;
    color: lightgray;
}





@media screen and (min-width: 768px) {

    .footer {
        display: flex;
        position: relative;
        text-align: left;
    }

    .footerlogo {
        width: 70vw;
    }

    .footerlogo  img {
        float: left;
        padding-left: 0;
        margin-bottom: 30%;
    }

    .footer ul {
        display: inline-flex;
        position: absolute;
        color: white;
        left: 0;
        bottom: 0%;
    }

    .footer li {
        padding-right: 10px;

    }

    .socialicons {
        justify-content: left;
        align-items: left;
        margin-left: 0;
        margin-top: 10%;
        text-align: left;
        position: absolute;
        left: 3%;
    }

    .footerinvite {
        position: absolute;
        right: 5%;
        top: 15%
    }

    .copyright {
        right: 2%;
        bottom: 5%;
        position: absolute;
    }

    }

    @media  screen and (min-width: 1024px) {
    
        .herotext {
            display: none;
        }
        
        .heroimage {
            background-image: url(../assets/stories/desktop/moon-of-appalacia.jpg);
            align-content: right;
            background-repeat: no-repeat;
            object-fit: cover;
            height: 650px;
            width: 100vw;
        }
    
        .headerinvite {
            margin-top: 10%;
        }
    
        .desk {
            background-image: url(../assets/home/desktop/beautiful-stories.jpg);
            background-size: contain;
            background-repeat: no-repeat;
        }
    
        .manwithcamera {
            background-image: url(../assets/home/desktop/designed-for-everyone.jpg);
            background-size: cover;
            background-repeat: no-repeat;
        }
    
        .createandshare,
        .designedforeveryone {
            width: 40vw;
            padding: 20%;
            padding-top: 15%;
        }
    
        .beautifulstories {
            padding-top: 0;
            position: absolute;
            top: 60%;
            right: 15%;
            width: 30vw;
            margin-left: 0;    
        }
    
    
        .createandshare {
            grid-row: 1;
        }
    
        .heroimage img,
        .manwithcamera img {
            width: 25%;
            padding-bottom: 0;
        }
    
        .desk {
            grid-row: 2;
            width: 130%;
        }
    
        .designedforeveryone {
            grid-row: 3;
        }
    
        .manwithcamera {
            grid-row: 3;
        }
    
        #root {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
    
        .infosection {
            display: flex;
            flex-direction: row;
        }
    
        .container {
            width: 33%;
        }
    
        .image-wrapper {
            max-width: 25%;
        }
        .footer {
            display: flex;
            position: relative;
            text-align: left;
        }
    
        .footerlogo {
            width: 70vw;
        }
    
        .footerlogo  img {
            float: left;
            padding-left: 0;
            margin-bottom: 15%;
        }
    
        .footer ul {
            display: inline-flex;
            position: absolute;
            color: white;
            left: 0;
            bottom: 0%;
        }
    
        .footer li {
            padding-right: 10px;
    
        }
    
        .socialicons {
            justify-content: left;
            align-items: left;
            margin-left: 0;
            margin-top: 10%;
            text-align: left;
            position: absolute;
            left: 3%;
        }
    
        .footerinvite {
            position: absolute;
            right: 5%;
            top: 15%
        }
    
        .copyright {
            right: 2%;
            bottom: 5%;
            position: absolute;
        }
        
    }

